@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 42, 31, 23;
  --background-start-rgb: 253, 246, 227;
  --background-end-rgb: 245, 230, 200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
